.vscode/**
.vscode-test/**
out/test/**
node_modules/**
src/**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
.gitconfig
.emergent/**
yarn.lock
test_result.md
tests/**
ICON_README.md